<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="/static/images/jj_icon.png" rel="icon" type="image/x-ico">

<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
<script src="/static/js/base/vue/vue-2.4.0.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/js/base/vue/vue-resource-1.3.4.js"></script>
{# 页面引用静态资源方式 #}
<link rel="stylesheet" type="text/css" href="/static/css/layout/post_all.css">
<link rel="stylesheet" type="text/css" href="/static/css/current/icon/my_icon.css">

{% block head_range %}
<title>睿选基金网</title>

{% endblock %}
</head>
<body>
    {% include "post_lay/top.html" %}
    <div id="core_range">
        <div class="page_main">
             {# 重写主界面代码 #}
            {% block page_main %}
                <br><br><br>
                <h2 style="text-align: center;">板块空缺中。。。</h2>
            {% endblock %}

        </div>
        {% include "post_lay/bottom.html" %}
    </div>

</body>
</html>