<script type="application/javascript">
    $(function () {


    })
</script>

<header id="header">
    <div class="top_div">
        <div class="top_left_part">
            <span class="top_left_text"><a href="/">瑞选基金网</a></span> |
            <span class="top_left_text"><a href="/post/home">基金吧</a></span>

        </div>
        <div class="top_right_part">
            <span class="top_right_text">你好，欢迎来基金吧！
                <a href="/user/login">登录</a> / <a href="/user/register">注册</a>
            </span>
        </div>
    </div>
</header> 