<div class="page_bottom">
    <div class="content_range">
    <div class="wrapper">
            <div class="declare">郑重声明：睿选基金网发布此信息目的在于传播更多信息，
                与本网站立场无关。睿选基金网不保证该信息（包括但不限于文字、视频、音频、
                数据及图表）全部或者部分内容的准确性、真实性、完整性、有效性、及时性、原
                创性等。相关信息并未经过本网站证实，不对您构成任何投资决策建议，据此操作
                ，风险自担。</div>

            <div class="cpright">
            <p style="margin: 10px 0 0; padding: 0px;"><a style="cursor: pointer;" id="foot_sethome" target="_self">
                将睿选基金网设为上网首页吗？</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="foot_setfavor" style="cursor: pointer;" target="_self">将睿选基金网添加到收藏夹吗？</a></p>
            <p><a target="_blank" href="http://www.baidu.com/">
                关于我们</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                    资质证明</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                        研究中心</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                            联系我们</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                                安全指引</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                                    免责条款</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                                        隐私条款</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                                            风险提示函</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                                                意见建议</a><span>|</span><a target="_blank" href="http://www.baidu.com/">
                                                    在线客服</a></p>
            <p class="cp"> 睿选基金客服热线：95077&nbsp;/&nbsp;4008888888</p>
            <p class="cp"> 客服邮箱：<a target="_blank" href="mailto:2363831533@qq.com">2363831533@qq.com</a></p>
            <p class="cp">人工服务时间：工作日 7:30-21:30 双休日 9:00-21:30</p>
            <p class="cp">  郑重声明：<a target="_blank" href="http://www.baidu.com/" class="footFundCertLink">
                睿选基金系证监会批准的基金销售机构[000008888]</a>。睿选基金网所载文章、数据仅供参考，使用前请核实，风险自负。 </p>
            <p>中国证监会深圳监管局网址：<a href="http://www.csrc.gov.cn/pub/shenzhen/">www.csrc.gov.cn/pub/shenzhen</a></p>

        </div>


</div>
</div>
</div>