<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<link href="/static/images/jj_icon.png" rel="icon" type="image/x-ico">
{# JQ,bootstrap #}
<link rel="stylesheet" href="/static/css/base/jquery-confirm.min.css">
<script src="/static/js/base/jquery-3.4.1.min.js"></script>
<script src="/static/js/base/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

{# 页面引用静态资源方式 #}
<link rel="stylesheet" type="text/css" href="/static/css/layout/fund_all.css">
<link rel="stylesheet" type="text/css" href="/static/css/current/icon/my_icon.css">
<script src="/static/js/html/main/common.js"></script>
<script src="/static/js/layout/top.js"></script>
{# 重写的页面头part #}
{% block head_range %}
<title>睿选基金网</title>

{% endblock %}
</head>
<body>

<div id="core_range">
    {# 引用页眉 #}
    {% include "layout/top.html" %}

    <div class="page_main">
        {# 重写主界面代码 #}
        {% block page_main %}
            <div class="app1">
                <p></p>
                <p><img style="height:200px;" src="/static/images/2020-10-31_pig.png"></p>
                <table style="border: 1px solid red;" cellspacing="8px;"></table>
            </div>
        {% endblock %}
    </div>
</div>
{# 引用页脚 #}
{% include "layout/bottom.html" %}

</body>
</html>