
<script type="application/javascript">
    $(function () {


    })

</script>

<div id="page_top">
    <div class="top_row1">
        <span>睿选基金---您的基金专家</span>
        <div class="top_tags">
            <div class="tags">黄页
{#                <div class="bar_triangle"><div class="bar_triangle_in"></div></div>#}
            </div>
            <div class="tags">睿选中国</div>
{#            <div class="tags">睿选产品</div>#}
            <div class="tags st_a">历年基金奖</div>
        </div>
    </div>
    <div class="top_row2">
        <div class="top_logo">
            <img src="/static/images/logo.gif">
        </div>
        <div class="user_range">
            {% if request.session.username %}
                {% if request.session.nickname %}
                    <span> Hello！&nbsp;&nbsp;<label class="text-primary">{{ request.session.nickname }}</label></span>
                {% else %}
                     <span> Hello！&nbsp;&nbsp;<label class="text-primary">{{ request.session.username }}</label></span>
                {% endif %}
                <span class="st_a"><a href="/user/personal">个人中心</a></span>
                <span><a href="/user/logout">登出</a></span>


            {% else %}
                <span>游客</span>
                <span class="st_a" id="jump_login_a">登录</span>
            {% endif %}
          
        </div>
        <!-- <div class="user_range1">
            <span>个人中心</span>
            <span class="st_a" id="jump_index_a">退出登录</span> -->
        <!-- </div> -->
        <div class="search_web">
            <div class="search_range" id="top_search_range">
{#            <form action="" method="POST"   enctype="multipart/form-data">#}
                <span class="search_in">
                    <input type="text" id="select_1" maxlength="28" autocomplete="off"/>

                </span>
                <span class="select_btn">
                    <input value="s3"  id="fca3" name="select_type" type="radio" checked>
                    <label for="fca3">文章</label>
                    <input value="s1" id="fca1" name="select_type" type="radio">
                    <label for="fca1">基金</label>
                    <input value="s2"  id="fca2" name="select_type" type="radio">
                    <label for="fca2">公司</label>

                </span>
                <div id="search_drop_list">
                    <ul class="dropdown-menu drop-menu-edit"></ul>
                </div>
{#            </form>#}
            </div>
        </div>
    </div>
    <div class="top_advertising">
        <img src="/static/images/jj_ad.gif" alt="">
    </div>
    <div id="top_navigation_bar" data-module-name="top_bar">
        <div class="top_navigation_title">
            <div class="nav_bar"><span id="jump_index_page" class="nav_text">首页</span></div>
            <div class="nav_bar"><span id="jump_article_home" class="nav_text">文章</span></div>
            <div class="nav_bar"><span id="jump_fund_forum" class="nav_text">基金吧</span></div>
            <div class="nav_bar" id="fund_tools">
                <span id="jump_fund_tools" class="nav_text">基金工具</span>
    {#            <button type="button" id="fund_tools_btn" class="btn my-btn1 st_a">基金工具</button>#}
    {#            <button type="button" class="btn dropdown-toggle my-btn2" style="position:absolute;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
    {#            <span class="caret"></span>#}
    {#            <span class="sr-only">Toggle Dropdown</span>#}
    {#            </button>#}
    {#            <ul class="dropdown-menu">#}

    {#            </ul>#}
            </div>
            <div class="nav_bar"><span id="jump_etfs_home" class="nav_text">ETFs</span></div>
            <div class="nav_bar"><span id="jump_course_home" class="nav_text">投资学堂</span></div>

        </div>
        <div class="clear-box"></div>
        <div class="top_navigation_content" id="drop_down_nav_content">

        </div>
    </div>
</div>



