{% extends "layout/middle.html" %}

{#头部css,js部分#}
{% block head_range %}
<title>个人中心</title>
<link rel="stylesheet" type="text/css" href="/static/css/html/user/personal.css">
<script type="text/javascript" src="/static/js/html/user/personal.js"></script>
<style type="text/css">
</style>
<script type="text/javascript">
$(function(){
    {% if code and code == 200 %}
        alert('{{ msg }}');
    {% endif %}

    var ability = "{{ user.ability }}";
    var preference = "{{ user.preference }}";
    if(preference && ability){
        set_eva(parseInt(ability),parseInt(preference))
    }

});
</script>
{% endblock %}

{#核心页面部分#}
{% block page_main %}s

<div class="personal-range">
    <h3 class="title text-primary"><span id="user-btn1" class="select-color">个人中心</span> &nbsp;&nbsp;/
        &nbsp;&nbsp; <span id="user-btn2">订单管理</span></h3>
    <div id="user-info">
        <div class="top-left-part">
            <form id="ui-form" action="/user/personal" method="post">
                {% csrf_token %}
                <input type="hidden" name="uid" value="{{ user.id }}">
                <table class="info-tb">
                <tr>
                    <td>用户名:</td>
                    <td>{{ user.username }}</td>
                    <td></td>
                </tr>
                 <tr>
                    <td>邮箱:</td>
                    <td>{{ user.email }}</td>
                     <td></td>
                </tr>
                <tr>
                    <td>手机号:</td>
                    <td>{{ user.phone }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>昵称:</td>
                    <td><input id="nickname" class="tl-input" type="text" name="nickname" value="{{ user.nickname }}"/></td>
                    <td><button id="nickname_modify">修 改</button></td>
                </tr>
                <tr>
                    <td>激活:</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            </form>
        </div>
        <div class="top-right-part">
            {% if not user.is_active %}
                <h3 style="color:coral;text-align: center;">验证邮箱已发出，请你登录邮箱进行验证</h3>
                <br>
                <h5 style="margin-left: -3vw;text-align: center;color:#666">未收到验证邮件？ &nbsp;&nbsp;&nbsp;&nbsp; <button type="button" id="send-btn"
                            class="btn btn-warning search-btn ">重新发送邮件</button>
                </h5>

            {% elif not user.ability or not user.preference %}
                <h4>当前投资风险系数<b style="color: orangered;">未知</b>，是否立即进行
              <a href="/user/evaluation" style="color:#dc3545;text-decoration: underline;">风险评估</a>？</h4>
            {% else %}
                <div id="re_result_title"> 测评结果 </div>


                <div class="re_result_div-1">

                    <div class="re_result_div0">
                        <div class="re_result_div1_1">
                            <div class="re_result_div2">风险承受能力：</div>
                            <div id="re_bear1" class="re_result_div3">低</div>
                            <div id="re_bear2" class="re_result_div3">较低</div>
                            <div id="re_bear3" class="re_result_div3">中等</div>
                            <div id="re_bear4" class="re_result_div3">较高</div>
                            <div id="re_bear5" class="re_result_div3">高</div>
                        </div>

                        <div class="re_result_div1_2">
                            <div class="re_result_div2">风险偏好型：</div>
                            <div id="re_prefer1" class="re_result_div3">保守型</div>
                            <div id="re_prefer2" class="re_result_div3">稳健型</div>
                            <div id="re_prefer3" class="re_result_div3">平衡型</div>
                            <div id="re_prefer4" class="re_result_div3">积极型</div>
                            <div id="re_prefer5" class="re_result_div3">进取型</div>
                        </div>
                    </div>

                </div>
            {% endif %}

        </div>
        <div class="clearfix"></div>
    </div>

     <div class="middle-part" id="list-order">
        <table class="t-list-order">
            <tr>
                <th>序号</th><th>用户名</th><th>订单号</th><th>基金名称</th><th>单价</th><th>数量</th>
                <th>金额</th><th>状态</th>
            </tr>
            <tbody>
            {% for item in list_order %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td class="order_code">{{ item.order_code }}</td>
                    <td class="fund_code">{{ item.fund_code }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total }}</td>
                    <td class="amount">{{ item.amount }}</td>
                    {% if item.status == 1 %}
                        <td><span class="pay-jump" onclick="buy_fund2(this)">继续支付</span></td>
                    {% else %}
                        <td>{{ item.status_name }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="float: right;margin:8px 11vw 0 0;">合计：</div>



     </div>

</div>

{% endblock %}