{% extends "layout/middle.html" %}

{#头部css,js部分#}
{% block head_range %}
<title>用户注册</title>
<style type="text/css">
#d1{
    min-height: 20vw;
    border-top:1px solid transparent;
    padding-bottom: 3vw;
}
.u-from{
    width:20vw;
    margin: 44px auto 0;
}
.u-from tr{
    height:42px;
}
.sub-btns{
    float:right;
    margin-right:2vw;
}
.sub-btns input{
    margin:2.5vw 1vw 0 0;
}
.image-box img{
    width:100%;
}
 /* widtweb设置文本框的长度 */
#left-image{
    margin-top:8vh;
}

#right-image{
    margin-top:16vh;
}
#mobile-code{
    width:60px;
}
#send-btn{
    margin-left:20px;

}

</style>
<script type="text/javascript">
var result;
var icon_correct = "<span class='glyphicon glyphicon-ok' style='color:#28a745;'></span>"
var icon_error="<span class='glyphicon glyphicon-remove' style='color:#dc3545;'></span>"

$(function(){
    $('#quit-btn').bind('click',function(){
        window.open("/index","_self")
    })
    $('#reg_btn').bind('click',check_submit);

    $("#username").bind("blur",checkUsername);
    $("#phone").bind("blur",checkPhone);
    $("#email").bind("blur",checkEmail);
    $(".password-in").bind("blur",checkPwd);
    $("#send-btn").bind("click",send_mobile);
    $("#mobile-code").bind("blur",check_verify_code);

})




function checkUsername(){
    var kind = $("#username").attr("name");
    var value = $("#username").val();
    var reg = /^[a-zA-Z]\w{5,}$/;
    if(!reg.test(value)){
        $('#username-icon').html(icon_error);
        return false;
    }


    var url = "/user/check_reg_info?kind="+ kind +"&value="+ value;
    $.ajax({
        type:"get",
        url:url,
        dataType:"json",
        async:false,
        success:function(res){
            if(res.code==200){
                $('#username-icon').html(icon_correct);

            }else{
                $('#username-icon').html(icon_error);
                result = false;
            }
        },
        error:function(){

        }
    })
}
function checkPhone(){
    var kind = $("#phone").attr("name");
    var value = $("#phone").val();
    {#var reg = /^1[3-9]\d{9}$/;#}
    {#if(!reg.test(value)){#}
    {#    $('#phone-icon').html(icon_error);#}
    {#    return false;#}
    {#}#}

    var url = "/user/check_reg_info?kind="+ kind +"&value="+ value;
    $.ajax({
        type:"get",
        url:url,
        dataType:"json",
        async:false,
        success:function(res){
            if(res.code==200){
                $('#phone-icon').html(icon_correct);
                $('#send-btn').attr("disabled",false);
            }else{
                $('#phone-icon').html(icon_error);
                $('#send-btn').attr("disabled","disabled");
                result = false;
            }
        },
        error:function(){

        }
    })

}
function checkEmail(){
    var kind = $("#email").attr("name");
    var value = $("#email").val();
    var reg = /^[a-z0-9A-z]+@[a-z0-9A-Z]+.(?:com|cn)$/
    if(!reg.test(value)){
        $('#email-icon').html(icon_error);
        return false;
    }


    var url = "/user/check_reg_info?kind="+ kind +"&value="+ value;
    $.ajax({
        type:"get",
        url:url,
        dataType:"json",
        async:false,
        success:function(res){
            if(res.code==200){
                $('#email-icon').html(icon_correct);
            }else{
                $('#email-icon').html(icon_error);
                result = false;
            }
        },
        error:function(){

        }
    })

}

function send_mobile(){
    var phone_num = $('#phone').val()
    url = "/user/mobile_verify?phone="+ phone_num
    $.ajax({
        type:"get",
        url:url,
        dataType:"json",
        async:false,
        success:function(res) {
            if (res.code == 200) {
                alert(res.msg)
                $('#code-icon').html(icon_correct);

            }else{
             $('#code-icon').html(icon_error);
                alert(res.msg)
                result = false;}

             }
    })
}

function send_mobile(){
    var phone_num = $('#phone').val()
    url = "/user/mobile_verify?phone="+ phone_num
    $.ajax({
        type:"get",
        url:url,
        dataType:"json",
        async:false,
        success:function(res) {
            if (res.code == 200) {
                alert(res.msg)
                $('#send-btn').attr("disabled","disabled")
                setTimeout(function(){
                    $('#send-btn').attr("disabled",false)
                },1000*60);

            }else{
             $('#code-icon').html(icon_error);
                alert(res.msg)
                result = false;}

             }
    })
}

function check_verify_code(){
    var phone_num = $('#phone').val();
    var verify_code = $('#mobile-code').val();
    if(verify_code.length !=6)
        return false
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    var data = {"phone":phone_num,"verifyCode":verify_code,'csrfmiddlewaretoken': csrf}
    $.ajax({
        type:"post",
        url:"/user/mobile_verify",
        dataType:"json",
        async:false,
        data:data,
        success:function(res) {
            if (res.code == 200) {
                $('#code-icon').html(icon_correct);

            }else{
             $('#code-icon').html(icon_error);
                result = false;
            }
        }
    })
}



function check_submit(){
    result = true;
    checkPwd();
    if(!result)
        return false;
    checkUsername();
    if(!result)
        return false;
    checkPhone();
    if(!result)
        return false;
    checkEmail();
    if(!result)
        return false;
    check_verify_code()
    if(!result){
        alert("验证码输入错误!")
        return false;
    }

 {#alert("请核对提交信息!");#}
    $("#reg_form").submit();
}

var b = false;
function checkPwd(){
    var pwd1 = $('#pwd1').val();
    var pwd2 = $('#pwd2').val();
    var reg = /^\w{6,20}$/;
    if(pwd1 && pwd2){
        b = true;
    }else{
        result = false;
    }

    if(b && pwd1 || pwd2){
        if(reg.test(pwd1) && pwd1 == pwd2){
            $('#pwd-icon').html(icon_correct);

        }else{
            $('#pwd-icon').html(icon_error);
            result = false;
        }
    }

}


</script>
{% endblock %}

{#核心页面部分#}
{% block page_main %}
<div id="d1">
    <div class="middle container-fluid">
        <div class="col-md-3 hidden-xs  hidden-sm">
            <div class="image-box" id="left-image" style="">
                <img src="/static/images/jin.png">
            </div>
        </div>

        <div class="col-md-6 col-xs-6  col-sm-6">
            <h1 style="color:crimson;text-align: center;margin-top: 10px;">欢 迎 注 册 </h1>
            <div class="u-from">

                <form id="reg_form" action="/user/register" method="post">
                    {% csrf_token %}
                    <table>
                    <tr>
                        <td>用户名:&nbsp;</td>
                        <td><input id="username" type="text" name="username" placeholder="请输入用户名"
                                   minlength="4" maxlength="16"></td>
                        <td>&nbsp;<i id="username-icon"><span style="color:red">*</span></i></td>
                    </tr>

                    <tr>
                        <td>密码:&nbsp;</td>
                        <td><input class="password-in" id="pwd1" type="password" name="password" placeholder="请输入密码"></td>
                        <td>&nbsp;<i id="username-icon"><span style="color:red">*</span></i></td>
                    </tr>

                    <tr>
                        <td>确认密码:&nbsp;</td>
                        <td><input class="password-in" id="pwd2" type="password"
                                  name="password2" placeholder="请再次输入密码"></td>
                        <td>&nbsp;<i id="pwd-icon"></i></td>
                    </tr>

                    <tr>
                        <td>手机号码:&nbsp;</td>
                        <td><input type="text" id="phone" name="phone"
    {#                               onkeyup="value=value.replace(/[^\d]/g,'')" onblur="if(/\d{11}/gi.test(this.value)?true:false){}else{alert('请输入正确的电话号码');}"  #}
                                   placeholder="请输入手机号码" maxlength="11"></td>
                        <td>&nbsp;<i id="phone-icon"><span style="color:red">*</span></i></td>
                    </tr>
                    <tr>
                        <td>验证码:&nbsp;</td>
                        <td><input type="text" id="mobile-code" name="verifyCode"
    {#                               onkeyup="value=value.replace(/[^\d]/g,'')" onblur="if(/\d{11}/gi.test(this.value)?true:false){}else{alert('请输入正确的电话号码');}"  #}
                                   placeholder="" maxlength="6">
                            <button type="button" id="send-btn" disabled
                                    class="btn btn-primary search-btn ">短信验证</button>
                        </td>
                        <td>&nbsp;<i id="code-icon"></i></td>

                    </tr>

                    <tr>
                        <td>邮箱:&nbsp;</td>
                        <td><input id="email" type="email" name="email"
                                   placeholder="请输入邮箱"></td>
                        <td>&nbsp;<i id="email-icon"><span style="color:red">*</span></i></td>
                    </tr>
                    </table>
                    <div class="sub-btns">
                        <input class="btn btn-primary" id="reg_btn" type="button" value="注册">
                        <input class="btn btn-primary" id="quit-btn" type="button" value="返回">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3 col-xs-6  col-sm-6">
            <div class="image-box" id="right-image"  style="">
                <img src="/static/images/qian.jpeg">
            </div>
        </div>



</div>


{% endblock %}