{% extends "post_lay/middle.html" %}

{#头部title，css，js部分#}
{% block head_range %}
{#自定义标题栏名称#}
<title>基金吧</title>
{#css#}
<link rel="stylesheet" type="text/css" href="/static/css/html/post/post_home.css">
<style type="text/css">

</style>
<script type="text/javascript">

</script>
{% endblock %}

{#页面核心代码部分#}
{% block page_main %}
{% verbatim %}
<div id="post_home_app">

    <post-seek :seek_hot_titles="seek_hot_titles"></post-seek>

<div class="cl10"></div>
<div class="mid_top_div">
    <post-hot v-bind:hot_bars="hot_bars"></post-hot>
</div>


<div class="cl10"></div>
<div class="mid_top_adver_logo">
    <div class="l_item" v-for="n in 5">
        <img :src=`/static/images/img2/tt_btn0${n+1}.jpg`>
    </div>

</div>
<div class="cl10"></div>
<div class="post_content_range" id="post_range">
    <list-table></list-table>
</div>
</div>

<!-- 页面组件 -->
<template id="post_tmp01">
   <div>
        <div class="top_hottitle">热门基金吧</div>
        <div class="mid_top_list">
            <ul class="list_title">
                <li v-for="(item,index) in hot_bars" :key="item.url">
                    <a :href=item.url>{{ item.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<template id="post_tmp02">
<div>
    <div class="post_table_bar">
        <div class="left_title">基金吧总版</div>
        <div class="fund_hot">
            热门基金话题：
            <a href="#"> ＃这些作者屡屡获奖 你关注到＃ </a>
            <a href="#"> ＃大盘震荡起伏 你是选择加仓＃ </a>
            <a href="#"> ＃8月开门红 你看好接下来的＃ </a>
        </div>
        <div class="right_more">
            <a href="#" class="right_a">更多基金话题 ></a>
        </div>
    </div>
    <div class="post_list_content">
        <div class="t_header even_row">
            <span class="nor"><label>点击</label></span>
            <span class="nor"><label>回复</label></span>
            <span class="sub"><label>标题</label></span>
            <span class="aut"><label>作者</label></span>
            <span class="date"><label>发表日期</label></span>
            <span class="upda"><label>最后更新</label></span>
        </div>
        <ul class="t_content_list">
            <li v-for="(item,index) in table_data">
                <cite class="nor">{{ index }}</cite>
                <cite class="nor">{{ item.comment_count }}</cite>
                <span class="sub t_span">
                    [<a :href=item.parent_bar.url class="bar_text">{{ item.parent_bar.name }}</a> ]
                    <em v-if="item.top_sort" class="icon_set_top">置顶</em>
                    <a class="theme_text" :href="item.url">{{ item.theme }}</a>
                </span>
                <cite class="aut"><a href="#">{{ item.author }}</a></cite>
                <cite class="date">{{ item.create_time,'MM-dd hh:mm' | dateFilter }}</cite>
                <cite class="upda">{{ item.update_time,'MM-dd hh:mm' | dateFilter }}</cite>
            </li>

        </ul>
        <div class="cl0"></div>
    </div>

    <div class="t_page_list" id="t_page_list">
        <span class="page_left_part">共有帖子数 {{ page_data.total }} 篇</span>
        <div id="page-nav">
            <ul id="fund_pagination" class="pagination" class="table-page-nav">
                <li>
                    <a href="#t-fund_filter-form" aria-label="Previous" @click="query_bar_list()">
                    <span aria-hidden="true">首页</span></a>
                </li>
                <li><a href="#t-fund_filter-form" aria-label="Previous" v-if="page_data.prev_num"
                 @click="query_bar_list(page_data.prev_num)">
                    <span aria-hidden="true">&laquo;</span></a>
                </li>
                <li :class="{'active':item == page_data.number}" v-for="(item,index) in page_data.page_range" >
                    <a class="active" href="#t-filter-form" @click="query_bar_list(item)">
                        {{ item }}</a>
                </li>


                <li><a href="#t-fund_filter-form" aria-label="Next" v-if="page_data.next_num"
                 @click="query_bar_list(page_data.next_num)">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
                <li><a href="#t-fund_filter-form" aria-label="Previous" @click="query_bar_list(page_data.page_count)">
                    <span aria-hidden="true">尾页</span></a>
                </li>
                <li class="page_count">共{{ page_data.page_count }}页</li>
            </ul>
        </div>

    </div>
</div>
</template>

<template id="post_tmp08">
<div class="mid_select_div">
    <div class="left_div">
        <a href="/post/home"><img src="/static/images/img2/jj_barlogo.png"></a>
    </div>
    <div class="mid_div" id="t_search">
        <div class="t_search_title">
            <span class="select_bar">
                <input value="s1" id="bca1" name="select_type" type="radio" checked>
                <label for="bca1">搜股吧</label>
                <input value="s2"  id="bca2" name="select_type" type="radio">
                <label for="bca2">搜作者</label>
                <input value="s3"  id="bca3" name="select_type" type="radio">
                <label for="bca3">搜内容</label>
            </span>
        </div>
        <div class="search_in_div">
            <div class="search_in_text">
                <input type="text" id="search_text" maxlengspan="20" autocomplete="off"
                    placeholder="请输入编号或关键字"/>
            </div>

            <div id="search_in_btn">股吧搜索</div>
        </div>
    </div>
    <div class="right_div" id="hot_list">
        <label>热门：</label>
        <span v-for="item in seek_hot_titles">
        <a :href=item.url>{{ item.name }}</a></span>
    </div>
</div>
</template>

{% endverbatim %}

<script>

Vue.component('postHot',{
    template: '#post_tmp01',
    data: function(){
        return{

        }
    },
    methods: {

    },
    props: {
        hot_bars: {
            type: Array,
            required:true
        }
    }
});

Vue.component('listTable',{
    template: '#post_tmp02',
    data: function(){
        return {
            table_data: "",
            page_data: ""
        }
    },
    methods: {
        query_bar_list(num){
            var url = "/post/bar/homeThemes/" + (num ? num : 1);
            this.$http.get(url).then(result =>{
                if(result.body.code==200){
                    this.table_data = result.body.data[1];
                    this.page_data = result.body.data[0];
                    console.log(this.page_data);
                }else{
                    alert(result.body.msg);
                }
            }
            ).catch(function(error){
                console.log('error');
                console.log(error);
            })
        }
    },
    filters: {
        dateFilter(value,str){
            return new Date(value).format(str);
        }
    },
    created(){
        this.query_bar_list()
    }
});

Vue.component('postSeek',{
    template: '#post_tmp08',
    data: function(){
        return{

        }
    },
    methods: {

    },
    props: {
        seek_hot_titles: {
            type: Array,
            required:true
        }
    }
});

var post_app1 = new Vue({
    el: '#post_home_app',
    data: {
        hot_bars:[],
        seek_hot_titles:[]
    },
    methods: {
        query_hot_bars(){
            this.$http.get('/post/bar/hotBars').then(function(result){
                    this.hot_bars=result.body.data.data20;
                    this.seek_hot_titles=result.body.data.data3;
            }
            ).catch(function(error){
                console.log('error');
                console.log(error);
            })
        }
    },
    created(){
       this.query_hot_bars()
    }
});


</script>

{% endblock %}