*{
    margin: 0;
    padding: 0;
}

#core_range,
/* 页眉 css */
.top_div{
    width:75vw;
    height:auto;
    margin:0 auto;
    font-size:1.05vw;
    color:#333;
    font-family:"Oxygen","宋体", 'Times New Roman', Times, serif;
}
.top_div{
    font-size: 12px;
}
header{
    box-shadow: 0 4px 4px #e6e6e6;
    font-family: simsun;
    position: fixed;
    left:0;
    top:0;
    /* height:2.5vw; */
    width:100%;
    z-index: 1001;
    background-color:#fff;
}
.top_left_part{
    width:45%;
    float:left
}
.top_right_part{
    width:40%;
    float: right;
    text-align: right;
}
.top_left_text, .top_right_text{
    height:3vw;
    line-height: 2.6vw;
    padding: 0.2vw;
}
.top_left_text{
    cursor: pointer;
}
.top_left_text:hover{
    text-decoration: underline;
}
.top_right_text> a, .top_left_text> a{
   color: #333;
   text-decoration: none;
}



#core_range{
    margin-top: 4.5vw;
}
.page_main{
    border:1px solid goldenrod;
    min-height:55vw;
    margin: 0 0.5vw;
}

/* 页脚 css */
.page_bottom{
    border-top:0.05vw solid transparent;
    width:100%;
    /*background-color:#455989;*/
    background-color:#fff;
}

.content_range{
    width:75vw;
    margin:0.85vw auto 0;
    color:#555;
}
.content_range a{
    font-size:14px;
    color:#039;;
    /*color:#8B1A1A;*/
}
.content_range a:hover{
    color:#ba2636;
}
.content_range>div{
    margin-top:0.5vw;
    padding:1.1vw 1.3vw;
}
.cpright{
    margin-top:12px;
}

.cpright > p{
    text-align: center;
}