<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>睿选基金网</title>

{#    JQ,bootstrap#}
<link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap-3.3.7-dist/css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='./js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='./bootstrap-3.3.7-dist/js/bootstrap.js') }}"></script>
{#    页面引用静态资源方式#}
<link href="{{ url_for('static', filename='./images/jj_icon.png') }}" rel="icon" type="image/x-ico">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/layout/index.css') }}">

<style type="text/css">

#d1{
    width: 988px;
    height: 400px;
    background: url("{{ url_for('static', filename='./images/white.jpg') }}")repeat 130%;
    border-top:1px solid transparent;
}
.ul-from{
    margin:3vw 0 3vw 27vw;
}
.ul-from{
    padding:1vw 0;
}
.user-btns>*{
    margin:2.5vw 1vw 0 0;
}
.user-btns input{width:4.5vw;}
.sub-btns a{
    color:purple;
}
    </style>
    <script type="application/javascript">        
        window.onload = function () {
             //页面加载完成后执行内容
        };              
    $(function(){
        msg = "{{ msg }}"
        if(msg)
            alert(msg)
        msg1 = "{{ msg1 }}"
        if(msg1)
            alert(msg1)
    })
    $('#log_btn').bind("click",function(){
        check_login()
    })
    </script>
</head>
<body>
<div id="core_range">
    {#    引用页眉#}
    {% include "layout/top.html" %}
    <div class="page_main">
        <div id="d1" style="">
            <div style="color: crimson;text-align: center;"><h1>欢 迎 登 录 睿 选 基 金</h1></div>
            
            <div style="color: red;">
                <div class="ul-from">
                <form action="/user/login" method="post">
                <table>
                    <tr>
                        <td>用户名:</td>
                        <td><input type="text" name="username" placeholder="请输入用户名"></td>
                    </tr>
                    <td>&nbsp;</td>
                    <tr>
                        <td>密码:</td>
                        <td><input type="password" name="password" placeholder="请输入密码"></td>
                    </tr>
                    <td>&nbsp;</td>
                </table> 
                    <div class="sub-btns">
                        <input type="checkbox" ><p style="display: contents;">记住密码</p>
                        <a href="/user/pwd_page" style="margin-left: 80px;">忘记密码</a>
                        <div class="user-btns" style="margin-left: 35px;">
                            <a class="btn" href="/user/reg_page">注册新用户?</a>
                            <input class="btn btn-default" type="submit" id="log_btn" value="登录">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

    {#    引用页脚#}
    {% include "layout/bottom.html" %}
</body>
</html>