{% extends "layout/middle.html" %}

{#头部css,js部分#}
{% block head_range %}
<title>睿选基金网</title>
<link rel="stylesheet" type="text/css" href="/static/css/html/main/home_page.css">
<style type="text/css">
.course_title{
    padding:5px 0;
    border-bottom:1px solid #aaa ;
}
.mid-title-list li{
    cursor:pointer;
}
</style>
<script type="text/javascript">
$(function(){
    $('#jump-filter-btn').bind("click",function(){
        window.open("/filter/ffpage","_self");
    })
    $('#eva-btn').bind("click",function(){
        check_eva_jump()
    })

})


</script>
{% endblock %}

{#核心页面部分#}
{% block page_main %}
 <div class="home_div">
    <div class="middle container-fluid">

    <div class="main-upline"></div>

    <div class="col-md-4 col-xs-4  col-sm-4">
        <div class="left_info">
            <h4 class="article-link-title"><a href="/article/info/art_page">更多文章>></a></h4>
            <div class="part1">
                <h4 class="title">{{ left_info.survey.title }}</h4>
                <ul class="midlist c1" >
                    {% for item in left_info.survey.childs %}
                        <li class="left_list_info"><a href="{{ item.url }}" target="_self">
                            {{ item.title }}</a></li>

                    {% endfor %}

                </ul>
            </div>
            <div class="part2">
                <h4 class="title">{{ left_info.indu.title }}</h4>
                <ul class="" >
                {% for item in left_info.indu.childs %}
                    <li class="left_list_info"><a href="{{ item.url }}" target="_self">
                       &nbsp; &rarr; {{ item.title }}</a></li>

                {% endfor %}

                </ul>
            </div>


        </div>


    </div>
    <div class="col-md-3 col-xs-3  col-sm-3">
        <div class="insert-div clearfix" id="jump-filter-btn">
            <div class="jump-filter-btn">
                <img class="btn-img" src="/static/images/filter_btn.jpg" />
            </div>

        </div>
        <div class="mid-title-list">
            <h4 class="title">投资学堂</h4>
            {% for k,v in courses.items %}
                <h5 class="course_title">{{ v.title }}</h5>
                {% for item in v.childs %}

                    <li onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>


                {% endfor %}
            {% endfor %}



        </div>

    </div>
    <div class="col-md-5 col-xs-5  col-sm-5">
        <div class="right_logo">
                <img class="logo-img" src="/static/images/homeimg.jpeg" />


        </div>
        <div class="right_content">
            <h3>优选基金</h3>

            <table  class="t1" id="ctl00_cphMain_gridResult" >
                <tr>
                    <td colspan="5" class="title"></td>
                </tr>
                <tr class="wonder_list_header">
                    <th scope="col" style="width:1.6vw">&nbsp;</th>
                    <th scope="col" style="width:1.6vw;">&nbsp;</th>
                    <th style="width:4.3vw">编号</th>
                    <th class="gridHeaderText" scope="col" style="width:15vw;">基金名称</th>
                    <th class="gridHeaderText" scope="col" style="width:5.8vw;">基金分类吧</th>
                </tr>

                {% for item in wonder_funds %}
                <tr class="gridItem">
                    <td><span style="text-align: center">{{ forloop.counter }}</span></td>
                    <td><span tag="">
                        <input type="checkbox" name="fund_{{ item.f_code }}"/></span>
                    </td>
                    <td class="msDataText" style="cursor: pointer;"><a href="/filter/fundinfo/{{ item.f_code }}" target="_self">
                        {{ item.f_code }}</a></td>
                    <td class="msDataText">{{ item.f_name }}</td>
                    <td class="msDataText" style="color:orangered;">{{ item.type_name }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    </div>
 </div>


{% endblock %}