{% extends "layout/middle.html" %}

{#头部css,js部分#}
{% block head_range %}


<link rel="stylesheet" type="text/css" href="/static/css/html/main_article/article_info.css">
<script src="/static/js/base/vue.min.js"></script>
<style type="text/css">
.comment-supports-total{
    box-sizing: border-box;
    height:46px;
}

.comment-supports-total>span{
    display: inline-block;
    margin: 5px 0 8px 15px;

}
.comment-supports > span:first-child{
    cursor:pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    height:27px;
    width:27px;
}
.has-press{
    border:1px solid red;
}
.type_a{
    color:#333333;
}
</style>

{% endblock %}

{#核心页面部分#}
{% block page_main %}
    <div class="middle container-fluid">
        <h5>基金研究 > <a href="{{ type_info.url }}" class="type_a">{{ type_info.title }}</a> > 正文</h5>
            <div class="main-upline"></div>
            <div class="col-md-8 col-xs-8  col-sm-8">
                <div class="content-range">
                    <h2>{{ article_info.title }}</h2>
                    <div class="introduce-info">
                        <span class="left-info">
                            作者：<span id="author-name">{{ article_info.author }}</span>
                                        <small id="release-date">{{ article_info.update_time }}</small>
                        </span>
                        <span class="right-info">
                            字号： <small><span class="glyphicon glyphicon-font text-info size-edit" id="nor-btn"></span></small>
                            <span class="glyphicon glyphicon-font text-info size-edit" id="big-btn">&nbsp;</span>
                        </span>

                    </div>


                    <div class="article-text" id="article-text">
                        {% autoescape off %}
                            {{ article_info.content }}
                        {% endautoescape %}
                    </div>

                </div>


                <div class="comment-range">
                    <div class="comment-supports-total">
                        <span class="comment-supports"><span class="glyphicon glyphicon-comment"></span>
                              <small id="comment-count">1</small></span>
                        <span class="comment-supports"><span class="glyphicon glyphicon-thumbs-up" id="like-btn"></span>
                              <small id="support-count">{{ like_count }}</small></span>
                        <div class="clear-box"></div>
                    </div>
                    <div class="main-upline"></div>
                    <h4>有疑问 找专家</h4>
                    <div class="comment-part">
                     {% verbatim %}
                    <div id="app1">


                    <cmt-box @func="addList"></cmt-box>

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action"
                            v-for="(item,index) in list" :key="item.id">
                            <div>
                                <span class="text-info">{{ item.user }} &nbsp;
                                    <small class="text-muted">第 {{ index+1 }} 条评论</small> </span>
                                <span class="right-info text-muted">{{ item.id }}</span>
                            </div>
                            <p>
                                {{item.content}}
                            </p>
                        </li>
                        <a class="list-group-item list-group-item-action">
                            <p class="text-center">
                                感谢您的使用，已经没有内容了
                            </p>
                        </a>
                    </ul>





                    </div>

                     <template id="tmp1">
                        <div class="comment-form">
                            <div class="form-group">
                                <form action="/user/sendComment" method="post">
                                    <textarea class="form-control" name="content" id="content" v-model="content">

                                    </textarea>
                                    <input id="submit-comment" type="submit" @click.prevent="postcomment"
                                           class="btn btn-primary pull-right" value="提 问 ">
                                </form>

                                <div class="clear-box"></div>
                            </div>
                        </div>
                    </template>
               {% endverbatim %}
                </div>

                <div class="main-bottom text-center">
{#                        <small>#}
{#                                &copy; 2019 <a href="#">Franckisses</a> &nbsp;/&nbsp;#}
{#                                <a href="#">Hello RxCHINA</a>#}
{#                            </small>#}
                    <p>
                        <a href="#">&uarr;</a>
                    </p>
                </div>
                </div>

            </div>
            <div class="col-md-4 col-xs-4  col-sm-4">
                <div class="right-cate">
                    <div class="right-part-img">
                        <img id="right-img" src="/static/images/test_img_1.png">
                    </div>
                    <div class="list_info_title">
                            <div class="main-upline"></div>
                            <div class="first-row">
                                    <h4>基金报告 <small class="pull-right text-muted">更多>></small></h4>
                            </div>
                            <div>
                                <table class="t_list_info">
                                    <tr>
                                        <th style="width:13vw;"></th>
                                        <th style="width:5vw;"></th>
                                        <th></th>
                                    </tr>
                                        <tbody>
                                            <tr>
                                                <td><a onclick="alert('敬请期待!')">工银全球精选股票(QDII)</a></td>
                                                <td>★★★★✩</td>
                                                <td><i onclick="alert('敬请期待!')" class="glyphicon glyphicon-new-window"></i></td>
                                            </tr>
                                            <tr>
                                                <td><a onclick="alert('敬请期待!')">建信内生动力混合</a></td>
                                                <td>★★★✩✩</td>
                                                <td><i onclick="alert('敬请期待!')" class="glyphicon glyphicon-new-window"></i></td>
                                            </tr>
                                            <tr>
                                                <td><a onclick="alert('敬请期待!')">华夏债券 - A/B(QDII</a></td>
                                                <td>★★★✩✩</td>
                                                <td><i onclick="alert('敬请期待!')" class="glyphicon glyphicon-new-window"></i></td>
                                            </tr>
                                            <tr>
                                                <td><a onclick="alert('敬请期待!')">兴全趋势投资混合(LOF)</a></td>
                                                <td>★★★★✩</td>
                                                <td><i onclick="alert('敬请期待!')" class="glyphicon glyphicon-new-window"></i></td>
                                            </tr>


                                        </tbody>
                                    </table>
                            </div>
                            <div>
                                <button onclick="alert('敬请期待!')" id="order-btn">RSS订阅基金报告</button>
                            </div>

                    </div>
                </div>
            </div>
        </div>



<script type="text/javascript">
    $(function(){
        bind_words_size();
        check_has_like();
        $("#like-btn").bind('click',press_support)

    });

    function bind_words_size(){
        var articleWord = $("#article-text")[0];
        $("#nor-btn").bind("click",function(){
            articleWord.classList.remove("text-dis-big");
            articleWord.classList.add("text-dis-normal")
        })

        $("#big-btn").bind("click",function(){
            articleWord.classList.remove("text-dis-normal");
            articleWord.classList.add("text-dis-big") ;
        })
    }
    function check_has_like(){
        var is_press = '{{ result }}';
        if(is_press == "1")
            $("#like-btn").addClass('has-press');
    }

    function press_support(){
        var btn = this
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/article/pressSupport?artid=" + "{{ artid }}",
            data: "",
            async: false,
            success: function (res) {
                if(res.code == -1){
                    alert(res.msg)
                    return;
                }

                if(res.code == 0)
                    btn.classList.remove('has-press');
                else
                    btn.classList.add('has-press');
                $('#support-count').html(res.count);

            }
        })
    }


    var commentBox = {
        data(){
            return {
                user : '',
                content: ''
            }
        },
        template: '#tmp1',
        methods: {
            postcomment(){
                var comment = {id:Date.now(),user: "张三", content: this.content}
                {#这里绑定的属性名为标签中的@属性，值为父组件中的方法名#}
                this.$emit('func',comment)

            }
        }
    };

    var vm = new Vue({
        el: '#app1',
        data: {
            list:[
                {id:Date.now(),user: '李白', content:'天生我才必有用!'},
                {id:Date.now(),user: '匿名', content:'你好啊！我的祖国'}

            ],
            user:""
        },
        components: {
            'cmt-box':commentBox
        },
        methods: {
            addList(data){
                this.list.unshift(data);
            }
        }
    })
</script>
{% endblock %}