{% extends "layout/middle.html" %}

{#头部css,js部分#}
{% block head_range %}
<link rel="stylesheet" type="text/css" href="/static/css/html/main_article/course_page.css">
<style type="text/css">
</style>
<script type="text/javascript">
$(function(){

})
</script>
{% endblock %}

{#核心页面部分#}
{% block page_main %}

<div class="middle container-fluid">
    <h4 id="middle-head-kelleg">投资学堂 - 基金课程</h4>
    <div class="main-upline"></div>

    <div class="col-md-3 col-xs-3  col-sm-3">
        <p id="left-title">课程内容:</p>
        <div class="left_bar_range">
            <ul>
            {% for item in left_titles %}
                {% if not level and forloop.first  %}
                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                {% elif item.article_id == artid %}
                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                {% else %}
                    <li onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                {% endif %}
            {% endfor %}
            </ul>

        </div>


    </div>
    <div class="col-md-5 col-xs-5  col-sm-5">
        <div class="middle-range">
            <div class="mid-content">
                {% autoescape off %}
                    {{ info.content }}
                {% endautoescape %}
            </div>
            {% if info.next %}
                <div class="next_bar">
                    <a href="{{ info.next_url }}">下一节：{{ info.next }} &raquo;</a>
                </div>
            {% endif %}

        </div>

            <div class="clear-box"></div>


    </div>
    <div class="col-md-4 col-xs-4  col-sm-4">
        <div class="right-cate">
            <div>
                <h4>目录</h4>
                <div class="right-bar-range">
                    <ul>
                        {% for k,v in right_titles.items %}
                            <h5 class="right_bar_title">{{ v.title }}</h5>
                            {% for item in v.childs %}
                                {% if not level and forloop.parentloop.first and forloop.first %}
                                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                                {% elif item.lid == level %}
                                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                                {% else %}
                                    <li onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                                {% endif %}

                            {% endfor %}
                        {% endfor %}

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


