{% extends "layout/middle.html" %}

{#头部css,js部分#}
{% block head_range %}
{#<link rel="stylesheet" type="text/css" href="/static/css/html/main_article/article_index.css">#}
<style type="text/css">
/* info文章部分 */
.first-row{
    position: relative;
}
.first-row  small{
    position: absolute;
    right:0;
    bottom:0;
    cursor: pointer;
}
#order-btn{
   background-color: orange;
   color:white;
    width:100%;
    font-size:20px;
    height:32px;
    border:0;
    outline: none;
}
#order-btn:hover{
   opacity: 0.85;
}
.main-upline{
    width:100%;
    border-top:0.4vw solid #BBB;
}
.left_bar_range{
    margin-top:10px;
}
.left_bar_range ul li{
    {#list-style: none;#}
    padding:3px 0 ;
    border-bottom:1px solid #aaa ;
    cursor: pointer;
}
.left_bar_range ul li:hover,.right-bar-range li:hover,.next_bar a:hover{
    color:#ba2636;
    text-decoration: underline;
}

#left-title{
    margin: 12px 0 0 -15px;
    font-size:13px;
}
.right-cate{
    margin-bottom: 5vw;
}
.right_bar_title{
    padding:5px 0;
    border-bottom:1px solid #aaa ;
}
.right-bar-range li{
    list-style: none;
    margin: 0 0 4px 8px;
    cursor: pointer;
}

.middle-range{
    margin:20px 0;
}
.mid-content{
    padding:8px;
    border-bottom: 0.5px solid #ddd;
    border-top: 0.5px solid #ddd;
}
.next_bar{
     padding:8px;
}
.next_bar a{
    color:#333333;
}
.present_title{
    color:#007bff;
    cursor:default;
}


</style>
<script type="text/javascript">
$(function(){

})
</script>
{% endblock %}

{#核心页面部分#}
{% block page_main %}

<div class="middle container-fluid">
    <h4 id="middle-head-kelleg">投资学堂 - 基金课程</h4>
    <div class="main-upline"></div>

    <div class="col-md-3 col-xs-3  col-sm-3">
        <p id="left-title">课程内容:</p>
        <div class="left_bar_range">
            <ul>
            {% for item in left_titles %}
                {% if not level and forloop.first  %}
                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                {% elif item.article_id == artid %}
                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                {% else %}
                    <li onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                {% endif %}
            {% endfor %}
            </ul>

        </div>


    </div>
    <div class="col-md-5 col-xs-5  col-sm-5">
        <div class="middle-range">
            <div class="mid-content">
                {% autoescape off %}
                    {{ info.content }}
                {% endautoescape %}
            </div>
            <div class="next_bar">
                <a href="{{ info.next_url }}">下一节：{{ info.next }} &raquo;</a>
            </div>

        </div>

            <div class="clear-box"></div>


    </div>
    <div class="col-md-4 col-xs-4  col-sm-4">
        <div class="right-cate">
            <div>
                <h4>目录</h4>
                <div class="right-bar-range">
                    <ul>
                        {% for k,v in right_titles.items %}
                            <h5 class="right_bar_title">{{ v.title }}</h5>
                            {% for item in v.childs %}
                                {% if not level and forloop.parentloop.first and forloop.first %}
                                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                                {% elif item.lid == level %}
                                    <li class="present_title" onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                                {% else %}
                                    <li onclick="window.open('{{ item.url }}','_self')">{{ item.title }}</li>
                                {% endif %}

                            {% endfor %}
                        {% endfor %}

                    </ul>
                </div>
            </div>

        </div>
    </div>



{% endblock %}